<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
</head>

<%# Menu %>
	
	   
<body>
	<div id="menu">
        <ul>
            <li><%= link_to "Home", '/' %></li>
            <li><%= link_to "About", '/about' %></li>
            <li><%= link_to "Sign Up", '/signup' %></li>
        </ul>
	</div>
	<div class="nav pull-right">
		<% if current_user %> 
	  		<ul> 
	    		<li><%= current_user.email %></li> 
	    		<li><%= link_to "Log out", logout_path, method: "DELETE" %></li> 
	  		</ul> 
		<% else %> 
	  		<ul> 
	    		<li><%= link_to "Login", 'login' %></a></li> 
	    		<li><%= link_to "Signup", 'signup' %></a></li> 
	  		</ul> 
		<% end %>
	  
	</div>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	

	<%# Footer %>
	<div class="footer">
		<p>A KevintheChang Project</p>
	</div>    
	
	
</body>

</html>
